.bg-rich-black{ background-color: #00171F !important; }
.bg-prussian{ background-color: #003459 !important; }
.bg-cerulean{ background-color: #007EA7!important; }
.bg-vivid-cerulean{ background-color: #00A8E8!important; }
.text-vivid-cerulean{ color: #00A8E8!important; }
.text-cerulean{ color: #007EA7!important; }
.principal{ margin-top: 5%;}
